/* ------------------------------
   february 2024
--------------------------------*/
body{
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    margin: 20px auto 20px auto;
    max-width: 1000px;
}

header{
    background-color: #333;
    padding: 15px;
    position: sticky;
    top: 0;
}

footer{
    background-color: #333;
    padding: 15px;
    text-align: center;
    margin: 20px auto;
    max-width: 1000px;
}

/* ------------------------------
   Navigation
--------------------------------*/
nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li{
    display: inline-block;
    margin-right: 20px;
}

nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* ------------------------------
   Text Styling
--------------------------------*/
h2{
    text-align: center;
}

p{
    line-height: 1.6;
    text-align: justify;
}

/* ------------------------------
   Tables
--------------------------------*/
table{
    width: 100%;
    margin: 20px 0;
}

th, td{
    padding: 10px;
    text-align: center;
}

/* ------------------------------
   Grid Layout (Main Content)
--------------------------------*/
main{
    display: grid;
    gap: 20px;
}

/* ------------------------------
   boxes
--------------------------------*/
.product_1,
.product_2,
.product_3{
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #000;
    max-width: 100%;
}
.opening_hours,
.get_in_touch,
.find_us{
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #000;
    max-width: 100%;
}